/.MathWorks
/.bash_history
/.cache
/.config
/.dotnet
/.gnupg
/.ipython
/.java
/.lesshst
/.local
/.matlab
/.nv
/.pki
/.python_history
/.vscode
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/IMAP
/gpu_float.py
/outputs
/profile.V2
/public_html