/.MathWorks
/.bash_history
/.cache
/.config
/.dotnet
/.gnupg
/.ipython
/.java
/.lesshst
/.local
/.matlab
/.nv
/.pki
/.python_history
/.vscode
/.vscode-remote-containers
/.vscode-server
/.wget-hsts
/IMAP
/gpu_float.py
/outputs
/profile.V2
/public_html
batch
notebooks
upload.sh
demo.py
.DS_Store
.idea
../.ssh/*
.ssh/*
.ssh
.ssh/
../.ssh/
~/.ssh
~/.ssh/
results
datasets
/eos/results
/eos/datatsets